/* Lowest Priority in Inheritance of CSS Properties*/
body {
  /*font family I like. Might change later */
  font-family: aktiv-grotesk,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-weight: 300;
  /* consider changing color from white (#ffffff) to off-white */
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 1.5;
  overflow: hidden
}

/*Header tag in App.jsx*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 70px;
  /* height: 100%; */
  width: 100%;
  background: rgb(13, 16, 30);
  /* border-bottom: 1px solid rgb(41, 44, 65); */
  /* box-sizing: border-box; */
  overflow-y: auto;
  overflow-x: hidden;
  text-align: end;
  line-height: 100px;
  /* vertical-align: middle; */
  font-family: aktiv-grotesk,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-weight: 300;
  color: rgb(157, 157, 157);
}


/*Containers in App.jsx*/
#outer-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  /* height: 60px; */
  height: 100%;
  width: 100%;
  /* background: rgb(13, 16, 30); */
  border-bottom: 1px solid rgb(41, 44, 65);
  /* box-sizing: border-box; */
  overflow-y: auto;
  overflow-x: hidden;
  
}

#inner-container {
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}



#projects{
  text-decoration-color: #ffffff;
  background-color: #0d101E
}


